.*.aux
.coq-native/
*.d
*.vo
*.glob
/Makefile.coq
/extract
*.v.d
*.v.tex
*.aux
*.log
/coqdoc.sty
/html/
/Makefile.coq
/coq-pipes.bbl
/coq-pipes.blg
/coq-pipes.idx
/coq-pipes.ilg
/coq-pipes.ind
/coq-pipes.out
/coq-pipes.pdf
/coq-pipes.toc
/latex/
coqdoc.sty
